<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <header>
        <h1>Mi epica aplicacion de Almacen con Flask & Jinja</h1>
    </header>
    <br/>
    <hr/>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    <hr/>
        {% block container %}
        {% endblock %}
    <br/>
    <hr/>
    <footer>
        <p>Todos los derechos reservados. &copy; Ivan Gutierrez 2023</p>
    </footer>
</body>
</html>